name: Deploy to backend

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.backend
          push: true
          tags: zoldyk/todo-app-backend:${{ github.sha }}

      #step to deploy to a virtual machine
      - name: Deploy Docker backend on EC2
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ec2-13-203-218-164.ap-south-1.compute.amazonaws.com
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            # Pull the latest Docker image from
            docker pull zoldyk/todo-app-backend:latest

            # Stop the existing container if running
            docker stop todo-app-backend || true
            docker rm todo-app-backend || true

            # Run the container on port 8080
            docker run -d --name todo-app-backend -p 8080:8080 \
            -e DATABASE_URL=${{ secrets.DATABASE_URL }} \
            zoldyk/todo-app-backend:${{ github.sha }}
